.khobish-heading .headwrp{
    display: inline-block;
    position: relative;
}
.khobish-heading {
    border-bottom: 2px solid #eee;
    margin-bottom: 30px;
    line-height: initial;
}
.khobish-heading .main-head {
    margin: 0;
}
.khobish-heading.one .main-head:after {
    content: "";
    width: 30px;
    height: 2px;
    background: #f70d28;
    display: block;
    position: relative;
    bottom: -2px;
}
.khobish-heading.two .headwrp {
    display: inline-block;
    padding: 10px;
    background: #eee;
}
.khobish-heading.four {
    overflow: hidden;
}
.khobish-heading.four .headwrp:before,.four .headwrp:after {
    content: '';
    height: 1px;
    background: #eee;
    width: 1000px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
}
.khobish-heading.four .headwrp:before {
    right: 100%;
    margin-right: 20px;

}
.khobish-heading.four .headwrp:after {
    left: 100%;
    margin-left: 20px;
}

.khobish-heading.five .headwrp:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 25px;
    content: '';
}
