.khobish-mega-link ul{
    margin:0;
    padding:0;
    list-style-type:none;
    overflow: hidden;
  }
  .khobish-mega-link.style_one li{
    display:block;
    float: left;
    line-height: initial;
  }
  .khobish-mega-link .linksocial{
      display: block;
  }
  .khobish-mega-link .khbbadge {
      display: inline-block;
      margin-left: 17px;
      background: black;
      color: white;
      font-size: 10px;
      padding: 1px 9px;
      position: relative;
  }
  