.khblogosocial .linksocial{
    display: inline-block;
    text-align: center;
}
.xlmega-header .khbnavcenter.fullnavitems,.xlmega-header .fullnavitems .xlmega-menu-container{
    width:100%;
}

.fullnavitems .xlmega-menu-container ul>li {
    float: none;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.fullnavitems .xlmega-menu-container ul>li.menu-item {
    text-align: center;
}
.xlmegaleft-bar {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 60px;
    background: #eee;
    z-index: 2;
}

.xlmegaleft-bar .logotb {
    top: 17px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    padding: 0;
    width: 38px;
}

.xlmegaleft-bar .navbar-toggle {
    display: block;
    float: none;
    height: 22px;
    left: 50%;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 28px;
    text-align: center;
}
.xlmegaleft-bar .search-toggle {
    bottom: 31px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    padding: 0;
}

.khbnav .navbar-toggle,.khbnav .xlmega-menu-container{
    display: inline-block;
}
.xlmega-header .khbnavleft.leftlogomenu{
    -webkit-box-flex: unset;
    flex: auto;
    margin-right: auto;
    -ms-flex: unset;
    width: 100%;        
}
.xlmega-header .khbnavleft.khbnormal{
    -webkit-box-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;        
}
.menu-logo-menu .leftwrpr  {
    width: 100%;
    display: inline-block;
    justify-content: flex-end;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}
.menu-logo-menu .khbnavleft .xlmega-menu-container{
    margin-right: inherit;
}
.menu-logo-menu .khbnavright .xlmega-menu-container{
    margin-left: inherit;
}
.menu-logo-menu .khbnavcenter{
    padding: 0px 50px;
} 
.khbnav .navbar-toggle,.khbnav .xlmega-menu-container{
    display: inline-block;
}

.xlmega-header .khbnavleft.leftlogomenu{
    -webkit-box-flex: unset;
    flex: auto;
    margin-right: auto;
    -ms-flex: unset;
    width: 100%;        
} 
.menubarwrp .khbnav .navbar-toggle,.menubarwrp .khbnav .xlmega-menu-container,.menubarwrp .khbnav .search-toggle{
    display: inline-block;
    cursor: pointer;
}
.xlmega-header .khbnavleft.khbnormal{
    -webkit-box-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;        
}   
.khbnav .navbar-toggle,.khbnav .xlmega-menu-container{
    display: inline-block;
}

/****/
.xlmega-menu-container{
    max-width: 1140px;
    margin: 0px auto;  
}
.xlmega-menu-container ul{
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
}

.xlmega-menu-container ul li{
    display: inline-block;
    position: relative;
}
.xlmega-menu-container ul li.news_element_mega_menu{
    position: static;
}
.xlmega-menu-container ul li.news_element_mega_menu > ul.sub-menu{
    display: none !important;
}

.xlmega-menu-container ul > li > a{
    display: block;
}
.xlmega-menu-container ul > li > a > i{
    line-height: 30px;
    margin-right: 5px;
}
.xlmega-menu-container ul > li > a > span.xlmega-icon{
  line-height: 30px;
  margin-left: 5px;
}
.xlmega-menu-container ul li ul.sub-menu,.xlmega-menu-container ul li ul.sub-menu li{
    display: block;
}
.xlmega-menu-container ul li .xlmegamenu-content-wrapper li{
  padding: inherit;
}
.xlmega-menu-container ul li > ul.sub-menu li a i{
    line-height: 24px;
}
.xlmega-menu-tag {
  background: #f05b64 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 14px;
  line-height: 1;
  padding: 4px 5px;
  position: absolute;
  right: 15px;
  top: 8px;
}

.xlmega-menu-container .sub-menu,.xlmega-menu-container .xlmegamenu-content-wrapper {
    margin-left: 0;
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: -999;
    visibility: hidden;
    opacity: 0;
    margin-top: 30px;
    transition: all 0.3s ease 0s;
}
.xlmega-menu-container .sub-menu{
  width:250px;
}
.xlmega-menu-container .xlmegamenu-content-wrapper{
  width:100%;
}
.xlmega-menu-container .xlmega-menu-area ul li:hover > .sub-menu,.xlmega-menu-container .xlmega-menu-area ul li:hover .xlmegamenu-content-wrapper {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    z-index: 999;
}
.xlmega-menu-container .sub-menu li {
    position: relative;
}
.xlmega-menu-container .sub-menu li a {
    line-height: 25px;
    padding: 10px 20px;
    font-size: 13px;
    display: flex;
    transition: all 0.3s ease 0s;
}
.xlmega-menu-container .sub-menu li:last-child a{
  border-bottom: 0;
}
.xlmega-menu-container .sub-menu li .sub-menu {
    top: 0;
    left: 100%;
    right: auto;
}
.xlmega-menu-container .sub-menu li .sub-menu li .sub-menu {
    left: auto;
    right: 100%;
}
.xlmega-menu-container .sub-menu li .sub-menu li .sub-menu li .sub-menu {
    left: 100%;
    right: auto;
}
.xlmega-menu-container .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu {
    left: auto;
    right: 100%;
}
.xlmega-menu-container .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu li .sub-menu {
    left: 100%;
    right: auto;
}

.xlmega-menu-container ul li .xlmegamenu-content-wrapper ul{
    display: block;
}

.xlmega-menu-container ul li .xlmegamenu-content-wrapper li{
    display: block;
}
.xlmega-menu-container ul li .xlmegamenu-content-wrapper li a {
  display: block;
  line-height: inherit;
  padding: 0;
}
.xlmegamenu-content-wrapper {
  text-align: left;
}



/*Mega menu skeleton*/

.xlmega-header .header-flex-wrapper{
    position: relative;
    -js-display: flex;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    justify-content: space-between;
    height: 100%;
    max-width: 1140px;
    margin: 0px auto;    
}

.xlmega-header .khbnavleft {
    -webkit-box-flex: 1;
    flex: 1;
    margin-right: auto;
    -ms-flex: 1;
}

.xlmega-header .khbnavcenter {
    -webkit-box-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 auto;
    -ms-flex: 0 0 auto;
}

.xlmega-header .khbnavright {
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: auto;
    -ms-flex: 1;
}
.xlmega-header .khbnavright .inrwrpr {
    width: 100%;
    display: inline-block;
    justify-content: flex-end;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;    
}

.xlmega-header .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: all 0.3s;
    background:black;
    -webkit-box-shadow: 0 4px 30px rgba(0,0,0,.03);
    box-shadow: 0 4px 30px rgba(0,0,0,.03);    
}
.xlmega-header .scrollUp {
    transform: translateY(-75px);
}
.xlmega-header .menubarwrp{
    margin:0px auto;
    position: relative;
}
.xlmega-absolute.xlmega-header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
}

.xlmega-header .xlmega-list{
  margin:0px;
  padding:0px;
  list-style-type: none;
}

.xlmega-header .xlmega-list li{
   display: inline-block;
}

.xlmega-header .navbar-toggle,.xlmega-header .search-toggle,.xlmega-mobile-nav .navbar-toggle,.xlmega-mobile-nav .search-toggle{
    display: inline-block;
    cursor: pointer;
}

/*Sidebar*/
.click-capture {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 98;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease; 
    background: #00000066;   
}
.xlmega-header.menu-is-opened .click-capture,.xlmega-header.search-is-opened .click-capture {
    visibility: visible;
transform: translateX(0);    
}
.xlmega-header.menu-is-opened .offsidebar.left,.xlmega-header.menu-is-opened .offsidebar.right,.xlmega-header.search-is-opened .offsearch.right {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 65px rgba(0,0,0,0.07);
}
.xlmega-header .offsidebar,.xlmega-header .offsearch {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.xlmega-header .offsidebar.right,.xlmega-header .offsearch.right{
  right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);  
}

.xlmega-header .offsidebar.left{
  left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); 
}

.xlmega-header .offsidebar,.xlmega-header .offsearch{
    width: 320px;       
    padding: 2em 1em;
    overflow-y: auto;
}

/*Search*/
.xlmega-header .search-field{
    border-radius: 0;
    width: 100%;
    border: 0px;    
}
.xlmega-header .offsearchform .khobishinner{
    position:relative
}
.xlmega-header .wa-result-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.xlmega-header .wa-result-list li{
  clear:both;
  overflow:hidden;
  margin: 15px 0px;
}
.xlmega-header .wa-result-list a{
    text-decoration: none;
}
.xlmega-header .wa-result-list .ft-thumbwrap img{
  width:100%;
 -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0); 
}
.xlmega-header .searching.loading,
.xlmega-header .searching.loading:after {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.xlmega-header .searching.loading {
    right: 10px;
    position: absolute;
    top: 10px;
  text-indent: -9999em;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load81 1.1s infinite linear;
  animation: load81 1.1s infinite linear;
}
@-webkit-keyframes load81 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load81 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.xlmega-header #results .ft-thumbwrap {
    width: 80px;
    float: left;
    margin-right: 15px;    
}

.xlmega-header #results{
    margin-top: 25px;
}
.xlmega-header .searchmore  {
    display: block;
    text-align: center;
    background: aqua;
    margin-top: 20px;
    padding: 6px;
}

/*Offscreens*/

.xlmega-header .momenu-list .sub-menu{
    display: none;
}

.xlmega-header .offmenuwraps .buildersearch-form {
    position: relative;
    width: 100%;
    display: inline-block;
}

.xlmega-header .offmenuwraps .buildersearch-form .search-submit {
    width: 43px;
    border: 1px solid #000;
    background: black;
    color: white;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 1em;
    letter-spacing: normal;
    cursor: pointer;
    border-radius: 0px;
    border-width: 0px;
}

.xlmega-header .offsidebar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;    
}
.xlmega-header .momenu-list li.menu-item-has-children> a:after {
    content: ' +';
    display: inline-block;
    transition: .1s;
    right: 0;
    position: absolute;
}
.xlmega-header .momenu-list > li{
  position:relative;
}
.xlmega-header .momenu-list > li>a {
    display: block;
}
.xlmega-header .momenu-list .sub-menu > li >a{
    display: block;
}

/*Mobile nav*/
.xlmega-mobile-nav .header-flex-wrapper{
    position: relative;
    -js-display: flex;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    justify-content: space-between;
    height: 100%;
    max-width: 1140px;
    margin: 0px auto;    
}

.xlmega-mobile-nav .khbnavleft {
    -webkit-box-flex: 1;
    flex: 1;
    margin-right: auto;
    -ms-flex: 1;
}

.xlmega-mobile-nav .khbnavcenter {
    -webkit-box-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 auto;
    -ms-flex: 0 0 auto;
}

.xlmega-mobile-nav .khbnavright {
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: auto;
    -ms-flex: 1;
}
.xlmega-mobile-nav .khbnavright .inrwrpr {
    width: 100%;
    display: inline-block;
    justify-content: flex-end;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;    
}


@media (max-width: 1024px){

    .xlmega-desktop {
        display: none;
    }
    .xlmega-mobile-nav .menubar {
        padding-left: 15px;
        padding-right: 15px;
    }
    .xlmega-mobile-nav .navbar-toggle{
        display: inline-block !important;
    }
        
}
@media (min-width: 1024px){

    .xlmega-mobile-nav {
        display: none;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.menubarwrp .menubar .menu-item-has-children>a:after,.menubarwrp .menubar .news_element_mega_menu>a:after {
    top: -2px;
    font-family: "themify";
    content: "\e64b";
    margin-left: 2px;
    font-size: 6px;
    position: relative;
}

.xlmega-menu-area .xlbadge{
    font-size: 7px;
    background: red;
    display: inline-block;
    padding: 3px 5px;
    position: absolute;
    top: -8px;
    left: 41px;
    line-height: initial;
}
.xlmega-menu-area .xlbadge:before {
    content: '';
    position: absolute;
    top: auto;
    left: 50%;
    bottom: -2px;
    margin: 0 0 0 -3px;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    background-color: inherit;
}
